* {
	font-family: 'Poppins', sans-serif;
	color: #003049;
}

.hero-page {
	height: 65vh;
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: column;
}

span {
	background: -webkit-linear-gradient(#00c3ff, #ffff1c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.circle {
	width: 300px;
	height: 300px;
	background: #00c3ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffff1c,
		#00c3ff
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffff1c,
		#00c3ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-radius: 50%;
	position: absolute;
	top: 20%;
	right: 60%;
	z-index: -1;
	filter: blur(10px);
}

.button {
	background-color: #00c3ff;
	color: white;
	padding: 1em;
	border: none;
	border-radius: 10px;
	transition: 0.2s ease-in-out;
}

.button:hover {
	background-color: #00769a;
}

.scroll-down {
	background-color: #00c3ff;
	height: 20px;
	width: 10px;
	border-radius: 10px;
}

.projects {
	margin-top: 10em;
}

.project {
	width: 320px;
}

.proj-title {
	position: relative;
	max-width: 360px;
}

.proj-img {
	position: absolute;
	top: 15%;
	z-index: -1;
}
